<!DOCTYPE html>
<html>
<head>
  <title>Application</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<table width="100%">
		<tr>
			<td colspan="3" bgcolor="grey">
				<h1>Header 1</h1>
			</td>
		</tr>
		<tr>
			<td colspan="1" bgcolor="purple" valign="top">
				Menu <br>
				<a href="/foodstalls">FoodStalls</a><br>
				<a href="/tasks">Tasks</a>

			</td>
			<td>
				<%= yield %>
			</td>
		</tr>
	</table>




</body>
</html>
